.output {
  font-size: 24px;
  color:blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: yellow;
  border: 1px solid black;
}
.errorAge {
  display: none;
}

.errorName {
  display: none;
}
 h1{
  font-size: 36px;
  color:green;
 }